<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../assets/css/style.css" />
    <link rel="stylesheet" href="../home/home.css">
    <title>JSMonk ecommerce website - Home</title>
    <script src="../../js/index.js"></script>
</head>

<body>
    <div id="main-container" class="main-container theme-light">
        <!-- Header  -->
        <div class="header mb-5 box-shadow-medium">
            <div class="header-logo-wrapper px-5 py-2">
                <div class="logo">
                    <span class="logo-title">jsmonk ecomm</span>
                    <span class="logo-subtitle">Best ecommerce website</span>
                </div>
            </div>
            <div class="header-menu-wrapper">
                <div class="center-menus"></div>
                <div class="right-menus">
                    <a class="menu-icon" href="#"><i class="bi bi-house-door"></i>Home</a>
                    <div class="menu-icon" onclick="toggleTheme()"><i class="bi bi-gear"></i></i>Theme</div>
                    <div class="badge-count-wrapper">
                        <a class="menu-icon" href="../wishlist/wishlist.html">
                            <i class="bi bi-heart"></i>
                            <span class="badge busy red">5</span>
                            Wishlist
                        </a>
                    </div>
                    <div class="badge-count-wrapper">
                        <a class="menu-icon" href="../cart/cart.html">
                            <i class="bi bi-cart3"></i>
                            <span class="badge busy red">5</span>
                            Cart
                        </a>
                    </div>
                    <a class="menu-icon" href="../auth/login/login.html"><i class="bi bi-door-open"></i></i>Login</a>
                </div>
            </div>
        </div>
        <div class="page">
            <section class="content">
                <div class="content-body m-2 px-5">
                    <div class="banner-wrapper">
                        <a href="../../views/products/products.html" class="banner">
                            <img src="../../assets/images/banner/banner1.webp" alt="banner1">
                            <div class="banner-desc">
                                <div class="banner-desc-title">
                                    Apple iPod touch 32GB
                                </div>
                                <div class="banner-desc-subtitle">
                                    Every iPod touch purchase now contributes directly to the Global Fund to combat
                                    COVID‑19.
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="category-wrapper my-5">

                        <a href="../../views/products/products.html" class="card card-product">
                            <div class="product-wrapper">
                                <div class="img-wrapper">
                                    <img src="../../assets/images/products/cloths.jpg" />
                                </div>
                                <div class="product-details">
                                    <h4>Jackets</h4>
                                    <div class="address text-xs"> 'The future of fashion will focus on customers and
                                        providing an innovative experience'
                                    </div>

                                </div>
                            </div>
                        </a>

                        <a href="../../views/products/products.html" class="card card-product">
                            <div class="product-wrapper">
                                <div class="img-wrapper">
                                    <img src="../../assets/images/products/crokery.jpg" />
                                </div>
                                <div class="product-details">
                                    <h4>Jackets</h4>
                                    <div class="address text-xs"> 'The future of fashion will focus on customers and
                                        providing an innovative experience'
                                    </div>

                                </div>
                            </div>
                        </a>

                        <a href="../../views/products/products.html" class="card card-product">
                            <div class="product-wrapper">
                                <div class="img-wrapper">
                                    <img src="../../assets/images/products/furniture.jpg" />
                                </div>
                                <div class="product-details">
                                    <h4>Furniture</h4>
                                    <div class="address text-xs"> 'The future of fashion will focus on customers and
                                        providing an innovative experience'
                                    </div>

                                </div>
                            </div>
                        </a>

                        <a href="../../views/products/products.html" class="card card-product">
                            <div class="product-wrapper">
                                <div class="img-wrapper">
                                    <img src="../../assets/images/products/headphones.jpg" class="" />
                                </div>
                                <div class="product-details">
                                    <h4>Headphones</h4>
                                    <div class="address text-xs"> 'The future of fashion will focus on customers and
                                        providing an innovative experience'
                                    </div>

                                </div>
                            </div>
                        </a>

                        <a href="../../views/products/products.html" class="card card-product">
                            <div class="product-wrapper">
                                <div class="img-wrapper">
                                    <img src="../../assets/images/products/helmet.jpg" />
                                </div>
                                <div class="product-details">
                                    <h4>Helmets</h4>
                                    <div class="address text-xs"> 'The future of fashion will focus on customers and
                                        providing an innovative experience'
                                    </div>

                                </div>
                            </div>
                        </a>

                        <a href="../../views/products/products.html" class="card card-product">
                            <div class="product-wrapper">
                                <div class="img-wrapper">
                                    <img src="../../assets/images/products/ipod.jpg" />
                                </div>
                                <div class="product-details">
                                    <h4>iPod</h4>
                                    <div class="address text-xs"> 'The future of fashion will focus on customers and
                                        providing an innovative experience'
                                    </div>

                                </div>
                            </div>
                        </a>

                        <a href="../../views/products/products.html" class="card card-product">
                            <div class="product-wrapper">
                                <div class="img-wrapper">
                                    <img src="../../assets/images/products/laptop.webp" />
                                </div>
                                <div class="product-details">
                                    <h4>Laptops</h4>
                                    <div class="address text-xs"> 'The future of fashion will focus on customers and
                                        providing an innovative experience'
                                    </div>

                                </div>
                            </div>
                        </a>

                        <a href="../../views/products/products.html" class="card card-product">
                            <div class="product-wrapper">
                                <div class="img-wrapper">
                                    <img src="../../assets/images/products/mobile.avif" />
                                </div>
                                <div class="product-details">
                                    <h4>Mobiles</h4>
                                    <div class="address text-xs"> 'The future of fashion will focus on customers and
                                        providing an innovative experience'
                                    </div>

                                </div>
                            </div>
                        </a>

                        <a href="../../views/products/products.html" class="card card-product">
                            <div class="product-wrapper">
                                <div class="img-wrapper">
                                    <img src="../../assets/images/products/oven.jpg" />
                                </div>
                                <div class="product-details">
                                    <h4>Home Appliance</h4>
                                    <div class="address text-xs"> 'The future of fashion will focus on customers and
                                        providing an innovative experience'
                                    </div>

                                </div>
                            </div>
                        </a>

                        <a href="../../views/products/products.html" class="card card-product">
                            <div class="product-wrapper">
                                <div class="img-wrapper">
                                    <img src="../../assets/images/products/shoes.webp" />
                                </div>
                                <div class="product-details">
                                    <h4>Shoes</h4>
                                    <div class="address text-xs"> 'The future of fashion will focus on customers and
                                        providing an innovative experience'
                                    </div>

                                </div>
                            </div>
                        </a>

                        <a href="../../views/products/products.html" class="card card-product">
                            <div class="product-wrapper">
                                <div class="img-wrapper">
                                    <img src="../../assets/images/products/tv.webp" />
                                </div>
                                <div class="product-details">
                                    <h4>Tv</h4>
                                    <div class="address text-xs"> 'The future of fashion will focus on customers and
                                        providing an innovative experience'
                                    </div>

                                </div>
                            </div>
                        </a>

                        <a href="../../views/products/products.html" class="card card-product">
                            <div class="product-wrapper">
                                <div class="img-wrapper">
                                    <img src="../../assets/images/products/watch.jpg" />
                                </div>
                                <div class="product-details">
                                    <h4>Watches</h4>
                                    <div class="address text-xs"> 'The future of fashion will focus on customers and
                                        providing an innovative experience'
                                    </div>

                                </div>
                            </div>
                        </a>

                        <a href="../../views/products/products.html" class="card card-product">
                            <div class="product-wrapper">
                                <div class="img-wrapper">
                                    <img src="../../assets/images/product_01.png" />
                                    <span class="card-badge">70% off</span>
                                </div>
                                <div class="product-details">
                                    <h4>Footwear</h4>
                                    <div class="address text-xs"> 'The future of fashion will focus on customers and
                                        providing an innovative experience'
                                    </div>

                                </div>
                            </div>
                        </a>

                    </div>
                </div>
            </section>
        </div>
    </div>
</body>

</html>