<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../../assets/css/style.css" />
    <link rel="stylesheet" href="../login/login.css" />
    <title>JSMonk ecommerce website - Signup</title>
</head>

<body>
    <div id="main-container" class="main-container theme-light">
        <!-- Header  -->
        <div class="header mb-5 box-shadow-medium">
            <div class="header-logo-wrapper px-5 py-2">
                <div class="logo">
                    <span class="logo-title">jsmonk ecomm</span>
                    <span class="logo-subtitle">Best ecommerce website</span>
                </div>
            </div>
        </div>
        <div class="page">
            <section class="auth-content m-5">
                <div class="content-body box-shadow-medium p-5">
                    <h2>Register</h2>
                    <div class="m-5">
                        <!-- Horizontal Input field -->
                        <div class="form-group form-group-row">
                            <label for="inputId">First name</label>
                            <input type="text" id="inputId" placeholder="First name" class="input-control" />
                        </div>
                        <div class="form-group form-group-row">
                            <label for="inputId">Last name</label>
                            <input type="text" id="inputId" placeholder="Last name" class="input-control" />
                        </div>
                        <div class="form-group form-group-row">
                            <label for="inputId">Email</label>
                            <input type="email" id="inputId" placeholder="Email" class="input-control" />
                        </div>
                        <div class="form-group form-group-row">
                            <label for="inputId">Password</label>
                            <input type="password" id="inputId" placeholder="Password" class="input-control" />
                        </div>
                        <div class="form-group form-group-row">
                            <label for="inputId">Confirm password</label>
                            <input type="password" id="inputId" placeholder="Confirm password" class="input-control" />
                        </div>
                    </div>
                    <div class="m-5">
                        <a href="../../home/home.html" class="btn btn-primary login-link">Signup</a>
                    </div>
                    <div class="m-5">
                        <a href="../login/login.html" class="btn btn-link">Already have account?
                            Login.</a>
                    </div>
                </div>
            </section>
        </div>
    </div>
</body>

</html>